//dark(v1.1)
// :root {
//   --theme-color: #293131;
//   --font-color: #f7fff7;
//   --bar-color: #31313a;
//   --header-height: 60px;
//   --main-width: 96%;
//   --header-url: "../assets/img/h2.svg";
// }

:root {
  --theme-color: #ffffff;
  --font-color: #080008;
  --bar-color: #f7f7f0;
  --header-height: 60px;
  --main-width: 96%;
  --header-url: "../assets/img/h1.svg";
}
